.country-search-container {
  display: flex;
  flex-direction: column;
  margin: 2em;
  width: 50vw;
}

.country-search-container .table-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.table-content {
  margin-top: 1em;
  text-align: center; /* Center align "No data available" message */
}

.table-content p {
  font-size: 1.2rem;
  color: #555;
  padding: 2em;
}
