.table-container {
  overflow-x: auto;
  margin-top: 1em;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  word-wrap: break-word;
  max-width: 150px; /* Adjust this value as needed */
}

.table th {
  background-color: #fafafa;
  text-align: left;
  font-weight: bold;
  padding: 12px;
}

.table td {
  background-color: #ffffff;
  padding: 12px;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.cell-image {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
